body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --hover-color: color-mix(in srgb, gray, transparent 95%);
  --selection-color: #0076E5;
  --box-color-content: #8CB6C0;
  --box-color-padding: #C3D08B;
  --box-color-border: #FDDD9B;
  --box-color-margin: #F9CC9D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100dvh;
}

/* interaction overlay */

.interaction-overlay section:hover > div {
  background: var(--hover-color);
}

.interaction-overlay section.selected > div {
  background: color-mix(in srgb, var(--selection-color), transparent 75%);
}

.interaction-overlay div {
  background: transparent;
}

/* class tags */

.class-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

.class-tag {
  border-radius: 2px;
  padding: 2px 4px;

  white-space: nowrap;

  font-weight: bold;
}

.class-tag-ns {
  color: red;
}